<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Менеджер городов</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/table.css" />
</head>
<body>
    <h2>Создание города</h2>
    <form name="cityForm">
        <input type="hidden" name="id" value="0" />
        <div class="form-group col-md-5">
            <label for="area">Область:</label>
            <select class="form-control" name="area" id="1">
                <option value="none" selected disabled hidden>Выбрать область</option>
            </select>
            <label for="district">Район:</label>
            <select class="form-control" name="district" id="2">
                <option value="none" selected disabled hidden>Выбрать район</option>
            </select>
            <label for="name">Название:</label>
            <input class="form-control" name="name" required />
            <label for="type">Тип:</label>
            <input class="form-control" name="type" />
            <label for="category">Категория(сельсовет):</label>
            <input class="form-control" name="category" />
        </div>
        <div class="panel-body">
            <button type="submit" id="submit" class="btn btn-primary">Сохранить</button>
            <button type="reset" id="reset_btn" class="btn btn-primary">Сбросить</button>
        </div>
    </form>

    <table id="data_table" class="table table-condensed table-striped  col-md-6">
        <thead><tr><th>Id</th><th>Название</th><th></th></tr></thead>
        <tbody id="tbody_data_table">
        </tbody>
    </table>


    <script>
        // Получение всех областей
        async function GetAreas() {
            // отправляет запрос и получаем ответ
            const response = await fetch("/api/area", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const areas = await response.json();
                var selectArea = document.getElementById("1");

                areas.forEach(area => {
                    var option = document.createElement("option");
                    option.text = area.areaName;
                    option.value = area.id;
                    selectArea.add(option);
                });
            }
        }

        // Получение районов области
        async function GetDistrictByAreaId(id) {
            const response = await fetch("/api/district/AreaId/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const districts = await response.json();
                var selectDistrict = document.getElementById("2");

                districts.forEach(district => {
                    var option = document.createElement("option");
                    option.text = district.districtName;
                    option.value = district.id;
                    selectDistrict.add(option);
                });
            }
        }

        // Получение городов по району
        async function GetCityByDistrictId(id) {
            const response = await fetch("/api/city/DistrictId/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const cities = await response.json();
                let rows = document.querySelector("tbody");
                cities.forEach(city => {
                    // добавляем полученные элементы в таблицу
                    rows.append(row(city));
                });
            }
        }

        // Получение одного города
        async function GetCity(id) {
            const response = await fetch("/api/city/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const city = await response.json();

                const form = document.forms["cityForm"];

                form.elements["id"].value = city.id;
                form.elements["name"].value = city.cityName;
                form.elements["type"].value = city.cityType;
                form.elements["category"].value = city.cityCategory;
            }
        }
        // Добавление
        async function CreateCity(district_id, name, type, category) {
            const response = await fetch("/api/city", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    cityName: name,
                    cityType: type,
                    cityCategory: category,
                    districtId: parseInt(district_id, 10)
                })
            });

            if (response.ok === true) {
                const city = await response.json();
                reset();
                document.querySelector("tbody").append(row(city));
            }
        }
        // Изменение
        async function EditCity(city_id, district_id, name, type, category) {
            const response = await fetch("/api/city", {
                method: "PUT",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    id: parseInt(city_id, 10),
                    cityName: name,
                    cityType: type,
                    cityCategory: category,
                    districtId: parseInt(district_id, 10)
                })
            });
            if (response.ok === true) {
                const city = await response.json();
                reset();
                document.querySelector("tr[data-rowid='" + city.id + "']").replaceWith(row(city));
            }
        }

        // Удаление
        async function DeleteCity(id) {
            const response = await fetch("/api/city/" + id, {
                method: "DELETE",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                document.querySelector("tr[data-rowid='" + id + "']").remove();
            }
        }

        // создание строки для таблицы
        function row(city) {

            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", city.id);

            const idTd = document.createElement("td");
            idTd.append(city.id);
            tr.append(idTd);

            const nameTd = document.createElement("td");
            nameTd.append(city.cityType + " " + city.cityName + " (" + city.cityCategory + ")");
            tr.append(nameTd);

            const linksTd = document.createElement("td");

            const editLink = document.createElement("a");
            editLink.setAttribute("data-id", city.id);
            editLink.setAttribute("style", "cursor:pointer;padding:15px;");
            editLink.append("Изменить");
            editLink.addEventListener("click", e => {

                e.preventDefault();
                GetCity(city.id);
            });
            linksTd.append(editLink);

            const removeLink = document.createElement("a");
            removeLink.setAttribute("data-id", city.id);
            removeLink.setAttribute("style", "cursor:pointer;padding:15px;");
            removeLink.append("Удалить");
            removeLink.addEventListener("click", e => {

                e.preventDefault();
                DeleteCity(city.id);
            });

            linksTd.append(removeLink);
            tr.appendChild(linksTd);

            return tr;
        }

        // сброс формы
        function reset() {
            const form = document.forms["cityForm"];
            form.reset();
            form.elements["id"].value = 0;
            clearSelect("1");
            clearSelect("2");
        }

        // сброс значений формы
        document.forms["cityForm"].addEventListener("reset", e => {
            e.preventDefault();
            reset();
        })


        // отправка формы
        document.forms["cityForm"].addEventListener("submit", e => {
            e.preventDefault();

            const form = document.forms["cityForm"];

            const id = form.elements["id"].value;
            const district_id = form.elements["district"].value;
            const name = form.elements["name"].value;
            const type = form.elements["type"].value;
            const category = form.elements["category"].value;

            if (id == 0)
                CreateCity(district_id, name, type, category);
            else
                EditCity(id, district_id, name, type, category);
        });

        //очистка таблицы
        function clearTable() {
            const table = document.getElementById("data_table");

            const new_tbody = document.createElement('tbody');
            new_tbody.setAttribute('id', "tbody_data_table");

            const old_tbody = document.getElementById("tbody_data_table");

            table.replaceChild(new_tbody, old_tbody);
        }

        function clearSelect(selectElement) {
            var i, L = selectElement.options.length - 1;
            for (i = L; i >= 0; i--) {
                if (selectElement.value == "none") continue;
                selectElement.remove(i);
            }
        }
        // загрузка областей
        GetAreas();

        // обновление районов после выбора области
        document.getElementById("1").addEventListener('change', (event) => {
            clearSelect(document.getElementById("2"));
            GetDistrictByAreaId(event.target.value);
        })

        // обновление таблицы после выбора района
        document.getElementById("2").addEventListener('change', (event) => {
            clearTable();
            GetCityByDistrictId(event.target.value);
        })

    </script>
</body>
</html>