<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Менеджер участков</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/table.css" />
</head>
<body>
    <h2>Создание участка</h2>
    <form name="spotForm">
        <input type="hidden" name="id" value="0" />
        <div class="form-group col-md-5">
            <label for="area">Область:</label>
            <select class="form-control" name="area" id="1">
                <option value="none" selected disabled hidden>Выбрать область</option>
            </select>
            <label for="district">Район:</label>
            <select class="form-control" name="district" id="2">
                <option value="none" selected disabled hidden>Выбрать район</option>
            </select>
            <label for="city">Город:</label>
            <select class="form-control" name="city" id="3">
                <option value="none" selected disabled hidden>Выбрать город</option>
            </select>

            <label for="name">Название участка:</label>
            <input class="form-control" name="name" required/>
            <label for="phone">Номер телефона:</label>
            <input class="form-control" name="phone" />
            <label for="address">Адрес:</label>
            <input class="form-control" name="address" />
            <label for="info">Информация:</label>
            <input class="form-control" name="info" />
            <label for="coorX">Координата X:</label>
            <input class="form-control" name="coorX" />
            <label for="coorY">Координата Y:</label>
            <input class="form-control" name="coorY" />
        </div>
        <div class="panel-body">
            <button type="submit" id="submit" class="btn btn-primary">Сохранить</button>
            <button type="reset" id="reset_btn" class="btn btn-primary">Сбросить</button>
        </div>
    </form>
    <table id="data_table" class="table table-condensed table-striped  col-md-6">
        <thead><tr><th>Id</th><th>Название</th><th></th></tr></thead>
        <tbody id="tbody_data_table">
        </tbody>
    </table>
    <script>
        // Получение всех областей
        async function GetAreas() {
            // отправляет запрос и получаем ответ
            const response = await fetch("/api/area", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const areas = await response.json();
                var selectArea = document.getElementById("1");

                areas.forEach(area => {
                    var option = document.createElement("option");
                    option.text = area.areaName;
                    option.value = area.id;
                    selectArea.add(option);
                });
            }
        }

        // Получение районов области
        async function GetDistrictByAreaId(id) {
            const response = await fetch("/api/district/AreaId/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const districts = await response.json();
                var selectDistrict = document.getElementById("2");

                districts.forEach(district => {
                    var option = document.createElement("option");
                    option.text = district.districtName;
                    option.value = district.id;
                    selectDistrict.add(option);
                });
            }
        }

        // Получение городов по району
        async function GetCitiesByDistrictId(id) {
            const response = await fetch("/api/city/DistrictId/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const cities = await response.json();
                var selectCity = document.getElementById("3");

                cities.forEach(city => {
                    var option = document.createElement("option");
                    option.text = city.cityType + " " + city.cityName + " (" + city.cityCategory + ")";
                    option.value = city.id;
                    selectCity.add(option);
                });
            }
        }

        //Участки в таблицу
        async function GetSpotsByCityId(id) {
            const response = await fetch("/api/spot/CityId/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const spots = await response.json();
                let rows = document.querySelector("tbody");
                spots.forEach(spot => {
                    // добавляем полученные элементы в таблицу
                    rows.append(row(spot));
                });
            }
        }

        // Получение одного участка
        async function GetSpot(id) {
            const response = await fetch("/api/spot/" + id, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const spot = await response.json();

                const form = document.forms["spotForm"];

                form.elements["id"].value = spot.id;
                form.elements["name"].value = spot.spotName;
                form.elements["phone"].value = spot.phoneNumber;
                form.elements["info"].value = spot.information;
                form.elements["address"].value = spot.address;
                form.elements["coorX"].value = spot.pointX;
                form.elements["coorY"].value = spot.pointY;
            }
        }

        // Добавление
        async function CreateSpot(city_id, district_id, name, phone, info, addrss, coorX, coorY) {
            const response = await fetch("/api/spot", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    spotName: name,
                    phoneNumber: phone,
                    information: info,
                    pointX: coorX,
                    pointY: coorY,
                    address: addrss,
                    cityId: parseInt(city_id, 10),
                    districtId: parseInt(district_id, 10)
                })
            });

            if (response.ok === true) {
                const spot = await response.json();
                reset();
                document.querySelector("tbody").append(row(spot));
            }
        }
        // Изменение
        async function EditSpot(spot_id, city_id, district_id, name, phone, info, addrss, coorX, coorY) {
            const response = await fetch("/api/spot", {
                method: "PUT",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    id: parseInt(spot_id, 10),
                    spotName: name,
                    phoneNumber: phone,
                    information: info,
                    pointX: coorX,
                    pointY: coorY,
                    address: addrss,
                    cityId: parseInt(city_id, 10),
                    districtId: parseInt(district_id, 10)
                })
            });
            if (response.ok === true) {
                const spot = await response.json();
                reset();
                document.querySelector("tr[data-rowid='" + spot.id + "']").replaceWith(row(spot));
            }
        }

        // Удаление
        async function DeleteSpot(id) {
            const response = await fetch("/api/spot/" + id, {
                method: "DELETE",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                document.querySelector("tr[data-rowid='" + id + "']").remove();
            }
        }

        // создание строки для таблицы
        function row(spot) {

            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", spot.id);

            const idTd = document.createElement("td");
            idTd.append(spot.id);
            tr.append(idTd);

            const nameTd = document.createElement("td");
            nameTd.append(spot.spotName);
            tr.append(nameTd);

            const linksTd = document.createElement("td");

            const editLink = document.createElement("a");
            editLink.setAttribute("data-id", spot.id);
            editLink.setAttribute("style", "cursor:pointer;padding:15px;");
            editLink.append("Изменить");
            editLink.addEventListener("click", e => {

                e.preventDefault();
                GetSpot(spot.id);
            });
            linksTd.append(editLink);

            const removeLink = document.createElement("a");
            removeLink.setAttribute("data-id", spot.id);
            removeLink.setAttribute("style", "cursor:pointer;padding:15px;");
            removeLink.append("Удалить");
            removeLink.addEventListener("click", e => {

                e.preventDefault();
                DeleteSpot(spot.id);
            });

            linksTd.append(removeLink);
            tr.appendChild(linksTd);

            return tr;
        }

        // сброс формы
        function reset() {
            const form = document.forms["spotForm"];
            form.reset();
            form.elements["id"].value = 0;
            clearSelect(document.getElementById("1"));
            clearSelect(document.getElementById("2"));
            clearSelect(document.getElementById("3"));
        }

        // сброс значений формы
        document.forms["spotForm"].addEventListener("reset", e => {
            e.preventDefault();
            reset();
        })


        // отправка формы
        document.forms["spotForm"].addEventListener("submit", e => {
            e.preventDefault();

            const form = document.forms["spotForm"];

            const name = form.elements["name"].value;
            const phone = form.elements["phone"].value;
            const info = form.elements["info"].value;
            const address = form.elements["address"].value;
            const coorX = form.elements["coorX"].value;
            const coorY = form.elements["coorY"].value;

            const spot_id = form.elements["id"].value;
            const city_id = form.elements["city"].value;
            const district_id = form.elements["district"].value;

            if (spot_id == 0)
                CreateSpot(city_id, district_id, name, phone, info, address, coorX, coorY);
            else
                EditSpot(spot_id, city_id, district_id, name, phone, info, address, coorX, coorY);
        });

        //очистка таблицы
        function clearTable() {
            const table = document.getElementById("data_table");

            const new_tbody = document.createElement('tbody');
            new_tbody.setAttribute('id', "tbody_data_table");

            const old_tbody = document.getElementById("tbody_data_table");

            table.replaceChild(new_tbody, old_tbody);
        }

        function clearSelect(selectElement) {
            var i, L = selectElement.options.length - 1;
            for (i = L; i >= 0; i--) {
                //if (selectElement.value == "none") continue;
                selectElement.remove(i);
            }
        }
        // загрузка областей
        GetAreas();

        // обновление районов после выбора области
        document.getElementById("1").addEventListener('change', (event) => {
            clearSelect(document.getElementById("2"));
            GetDistrictByAreaId(event.target.value);
        })

        // обновление городов после выбора района
        document.getElementById("2").addEventListener('change', (event) => {
            clearSelect(document.getElementById("3"));
            GetCitiesByDistrictId(event.target.value);
        })

        // обновление таблицы после выбора города
        document.getElementById("3").addEventListener('change', (event) => {
            clearTable();
            GetSpotsByCityId(event.target.value);
        })

    </script>
</body>
</html>