<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebUI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarCollapse" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">                                
                                    <form class="nav-link text-dark" method="post" asp-controller="Account" asp-action="Logout">
                                        <input  type="submit" value="@User.Identity.Name" />
                                    </form>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="~/Roles/Index">Менеджер ролей</a>
                            </li>
                        }

                        <li>
                            <div class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Менеджер
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AreaCreate">Менеджер областей</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DistrictCreate">Менеджер районов</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CityCreate">Менеджер городов</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="StreetCreate">Менеджер улиц</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="HouseCreate">Менеджер домов</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SpotCreate">Менеджер участков</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink_2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Связи
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_2">
                                    <a class="dropdown-item" asp-area="" asp-controller="Bind" asp-action="Bind">Привязка к участку</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Bind" asp-action="Unbind">Отвязка от участка</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
